<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/" lang="en">
<th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta name="author" content="David Wagner, Brandon Salmon, Ryan Lenea">
    <link rel="shortcut-icon" th:href="@{/img/favicon.png}" type="image/png" />
    <link rel="shortcut-icon" th:href="@{/favicon.png}" type="image/png" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <noscript>Your browser doesn't support javascript</noscript>
</th:block>
<body>
</body>
</html>
