<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <meta name="keywords" content="iatse, about, learn, staging, rigging">
    <meta name="description" content="What is iatse and what sort of things do they do">
    <title>About IATSE</title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"> </div>

        <div class="leftcolumn" id="content">
            <div class="img-card">
                <iframe width="100%" height="55%" src="https://www.youtube.com/embed/nX7xNCwrRZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="txt-card">
                <h2>Why Join the Union?</h2>
                <p>Being in a Union means being protected both physically and financially.</p>
                <p>Opportunity to work on jobs covered by a union contract:
                    Business agent to negotiate and/or oversee maintenance of contract.
                    Payment of health and retirement benefits when job is under union contract.
                    Workers Compensation Insurance provided in union contract.</p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="txt-card">
                <h2>About I.A.T.S.E </h2>
                <h3>Rochester, Mn | La Crosse, WI</h3>
                <div class="about"></div>
                <p>The International Alliance of Theatrical Stage Employees, Moving Picture Technicians, Artists and Allied Crafts of the United States, Its Territories and Canada was founded in 1893 when representatives of stagehands working in eleven cities met in New York and pledged to support each other’s efforts to establish fair wages and working conditions for their members. Our union has evolved over the succeeding 123 years to embrace the development of new entertainment mediums, craft expansion, technological innovation and geographic growth.</p>

                <p>Today the IATSE is the largest union representing workers in the entertainment industry. Our members work in all forms of live theater, motion picture and television production, trade shows and exhibitions, television broadcasting, and concerts as well as the equipment and construction shops that support all these areas of the entertainment industry. We represent virtually all the behind the scenes workers in crafts ranging from motion picture animator to theater usher.</p>

                <p>During a period when private sector union membership has been in sharp decline the IATSE has continued to grow. In 2016, our membership reached over 130,000. This growth is attributable to our willingness to adapt our structure to protect our traditional jurisdiction and accommodate new crafts. But that alone is insufficient. The IATSE has maintained and enhanced its position in the vanguard of the entertainment industry through effective rank and file empowerment, political engagement, and our dedication to grass roots organizing. On both the International and local union levels, the motivating principle of the IATSE is to represent every worker employed in our crafts.</p>
            </div>
        </div>
    <div th:replace="fragments/footer :: footer"> </div>
</body>
</html>
