<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="keywords" content="iatse, ada, compliance, disability, contact">
    <meta name="author" content="David Wagner, Brandon Salmon, , Ryan Lynea">
    <meta name="description" content="ADA compliance statement">
    <title>ADA Compliance Statement</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>ADA Compliance Statement</h1>
    <p>We are committed to make the IATSE local 416 site compliant with the American with Disabilities Act. If you have a disability and the format of any material on our website interferes with your ability to access some information email us. Your request will be referred to the appropriate area. We will respond to you and provide you with an alternate format of the requested material. To help us respond effectively, indicate the nature of the accessibility problem, your preferred format (electronic format, ASCII, standard print, large print, etc.), the web address of the requested material, and your full contact information so we can reach you if questions arise while fulfilling your request. We welcome comments on how to improve the site’s accessibility for users with disabilities. We are do our best to stay in line with the W3C Level One guidelines.

        We welcome any feedback on how to improve the site’s accessibility for all users. Please contact david.wagner@iatse416.org to voice any problems

        It is our goal to develop a website that is accessible to everyone!</p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>