<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="keywords" content="iatse, calendar, events, signup, rigging">
    <meta name="author" content="Brandon Salmon, David Wagner, Ryan Lynea">
    <meta name="description" content="Google calendar of the local IATSE events happening soon">
<title>IATSE Event Calendar</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"> </div>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=bmFiNW02a2M2MjdxZWF2MWluZW84bTF2dWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWRhbWxpZW5tY2NAZ21haWwuY29t&amp;color=%23E67C73&amp;color=%23C0CA33" style="border:solid 1px #777" width="1200" height="500" frameborder="0" scrolling="no"></iframe>
<div th:replace="fragments/footer :: footer"> </div>
</body>
</html>