<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <meta name="keywords" content="iatse, calendar, events, signup, rigging">
    <meta name="description" content="Google calendar of the local IATSE events happening soon">
    <title>Education</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container" id="content">
<div class="row title">
    <div class="section">
        <div class="leftcolumn">
            <h1>Education</h1>
            <p>There's all kinds of ways to start learning about theater staging, these resources will help you get
                started.</p>
            <p> Another great resource for learning the necessary skills for an Iatse worker can be found at our sister union,
                the Local 13 by following the link below.</p>
                <br/>
            <p> <a href="https://www.iatse13.org/?zone=/unionactive/view_page.cfm&page=Education" >
                IATSE Local 13 Training Page
            </a></p>
            <br/>
        </div>
        <div class="rightcolumn">
            <img class="titleimage" src="pics/MCCGRID.jpg"
                 alt="Picture of mayo civic center stage full of staging equipment being set up">
        </div>
    </div>
</div>
    <div class="container">
<div class="row">
    <div class="section">
        <div class="leftcolumn">
            <br/>
            <h2>LinkedIn Learning</h2>
            <p>
                We would recommend taking this time to sign up for the Linked-in Learning via the International Training
                Trust.
            </p>

        </div>
        <div class="rightcolumn">
            <br/>
            <a href="https://www.iatsetrainingtrust.org/lil">IATSE Training Trust - Linked In Learning Sign up</a><br/>
            <br/>

            <a href="https://www.linkedin.com/learning/what-to-do-when-you-are-bullied-at-work/defining-workplace-bullying">What
                to do when you are bullied at work</a><br/>
            <br/>

            <a href="https://www.linkedin.com/learning/live-sound-engineering-techniques-on-tour-with-rush/mixing-live-sound-for-front-of-house">Live
                sound engineering techniques on tour with Rush</a><br/>
            &nbsp;<br/>

            <a href="?zone=/unionactive/view_article.cfm&HomeID=725770&page=Education">Free
                LinkedIn Learning</a><br/>
            <br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="section">
        <div class="leftcolumn">
            <br/>
            <h2>Free training</h2>
            <p>There are several opportunities for free training right now, and we hope you can take advantage of this
                training. Here are some that we are aware of.<br/>
                &nbsp;<br/>
            </p>
        </div>
        <div class="rightcolumn">
            <br/>
            <a href="https://www.iatsetrainingtrust.org/avixa">Avixa</a><br/>
            &nbsp;<br/>
            <a href="https://www.iatsetrainingtrust.org/safetyfirst">Safety First</a><br/>
            &nbsp;<br/>
            <a href="https://www.livedesignonline.com/training/covid-19-entertainment-industry-reacts-training-options?NL=LIVE-04&amp;Issue=LIVE-04_20200318_LIVE-04_14&amp;sfvc4enews=42&amp;cl=article_2&amp;utm_rid=CPLSM000000020329&amp;utm_campaign=17966&amp;utm_medium=email&amp;elq2=36f0e47d887441f8a6ba4f9b7372d4c5&amp;fbclid=IwAR2NPukJ9uqsDyumeoSaS9otnDEDV4kOmetaMzlVFRzKGFUkAPOKjJLX_ow">Live
                Design Online</a><br/>
            &nbsp;<br/>
            <a href="https://courses.etcconnect.com/?fbclid=IwAR1dCgufEKXh_U6I0NQuNEsj22UGhduko5AxIwFi-NtPCd19ZIOrGkxTuB8">ETC
                Courses</a><br/>
            &nbsp;<br/>
            <a href="https://newbrookwood.org/register-1">New Brookwood Labor College</a><br/>
            <br/>
        </div>
    </div>
</div>
<div class="row">
    <div class="section">
        <div class="leftcolumn">
            <br/>
            <h2>Additional Resources</h2>
            <p> We are working alongside our sister Union, the Local 13 in the Twin Cities. Please take advantage of any
                resources that were missed on our page by checking in at their site.<br/></p>
        </div>
        <div class="rightcolumn">
            <br/>
            <a href="http://www.animatedknots.com" target="_blank">Animated Knot Tutorials</a><br/>
            <br/>
            <a href="docs/History%20and%20Structure%20of%20the%20IATSE_YWC2014.pdf" target="_blank">History and
                Structure
                of the IATSE</a> <a href="https://www.adobe.com/accessibility/products/reader.html"> (Download Adobe reader) </a><br/>
            <br/>
            <a href="http://www.rulesonline.com/index.html" target="_blank">Robert&#39;s Rules of Order</a><br/>
            <br/>
            <a href="/docs/Messaging%20for%20Unions_YWC2014.pdf" target="_blank">Talkin&#39; Union with Confidence
                and
                Persuasiveness</a> <a href="https://www.adobe.com/accessibility/products/reader.html"> (Download Adobe reader) </a><br/>
            <br/>
            <a href="http://www.techtoolstraining.org" target="_blank">Technical Tools of the Trade</a>
            <br/>

        </div>
    </div>
</div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>