<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
    <title></title>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<p>&nbsp;<br />
    I would recommend taking this time to sign up for the Linked-in Learning via the International Training Trust. I will be putting an IATSE Local 13 platform together on this platform as well. This is a new thing for me so let me know if you cannot see this platform right away.<br />
    &nbsp;<br />
    <a href="https://www.iatsetrainingtrust.org/lil">IATSE Training Trust - Linked In Learning Sign up</a></p>

<p><font style="background-color: rgb(255, 255, 255);">The classes I would like to Highlight in the Linked-in Learning session would be the following:</font><br />
    <br />
    <a href="https://www.linkedin.com/learning/what-to-do-when-you-are-bullied-at-work/defining-workplace-bullying">What to do when you are bullied at work</a></p>

<p><a href="https://www.linkedin.com/learning/live-sound-engineering-techniques-on-tour-with-rush/mixing-live-sound-for-front-of-house">Live sound engineering techniques on tour with Rush</a><br />
    &nbsp;</p>

<p>There are several opportunities for free training right now, and I hope you can take advantage of this training. Below is a list of opportunities that I am aware of.<br />
    &nbsp;<br />
    <a href="https://www.iatsetrainingtrust.org/avixa">Avixa</a><br />
    &nbsp;<br />
    <a href="https://www.iatsetrainingtrust.org/safetyfirst">Safety First</a><br />
    &nbsp;<br />
    <a href="https://www.livedesignonline.com/training/covid-19-entertainment-industry-reacts-training-options?NL=LIVE-04&amp;Issue=LIVE-04_20200318_LIVE-04_14&amp;sfvc4enews=42&amp;cl=article_2&amp;utm_rid=CPLSM000000020329&amp;utm_campaign=17966&amp;utm_medium=email&amp;elq2=36f0e47d887441f8a6ba4f9b7372d4c5&amp;fbclid=IwAR2NPukJ9uqsDyumeoSaS9otnDEDV4kOmetaMzlVFRzKGFUkAPOKjJLX_ow">Live Design Online</a><br />
    &nbsp;<br />
    <a href="https://courses.etcconnect.com/?fbclid=IwAR1dCgufEKXh_U6I0NQuNEsj22UGhduko5AxIwFi-NtPCd19ZIOrGkxTuB8">ETC Courses</a><br />
    &nbsp;<br />
    <a href="https://newbrookwood.org/register-1">New Brookwood Labor College</a><br />
    &nbsp;<br />
    We are working alongside our sister Union, the Local 13 in the Twin Cities. Please take advantage of any resources that were missed on our page by checking in at their site.<br />
    </p>

<p></p>

<p><a href="http://www.animatedknots.com" target="_blank">Animated Knot Tutorials</a></p>

<p><a href="docs/History%20and%20Structure%20of%20the%20IATSE_YWC2014.pdf" target="_blank">History and Structure of the IATSE</a></p>

<p><a href="http://www.rulesonline.com/index.html" target="_blank">Robert&#39;s Rules of Order</a></p>

<p><a href="/docs/Messaging%20for%20Unions_YWC2014.pdf" target="_blank">Talkin&#39; Union with Confidence and Persuasiveness</a></p>

<p><a href="http://www.techtoolstraining.org" target="_blank">Technical Tools of the Trade</a> - Local Education Opportunities</p>
<br />

<table width="100%" border="0" style="margin-top:15px">
    <tr>
        <td class="articlelinks"><b><a href="?zone=/unionactive/view_article.cfm&HomeID=725770&page=Education" >Free LinkedIn Learning</a></b></td>
    </tr>
    <tr>
        <td><table border="0">
            <tr>

                <td valign="middle">  <span class="pagedates">


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>