<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
    <meta name="keywords" content="iatse, resources, theater, staging, rigging">
    <meta name="description" content="Outlining some of the resources to learn about IATSE">
    <title>Resources</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>COVID-19 </h2>
            <div class="container">
                <div clas="center">

                </div>
            </div>
<p>Due to the recent COVID-19 crisis, we were unable to complete our contract ageement for 2020. </p>
<p>For application inquiries, please contact our business agent, Chris Martin at 507-226-2582. </p>
<p>Thank you for taking interest in our Union, rest assured this situation will eventuall subside.</p>
<p>Until that time please take care to follow the recommended guidelines to limit exposure of this virus.</p>
</div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>