<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="keywords" content="iatse, resources, theater, staging, rigging">
    <meta name="author" content="Brandon Salmon, David Wagner, Ryan Lynea">
    <meta name="description" content="Outlining some of the resources to learn about IATSE">

    <title>Resources</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<!--Remaining section-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>